header{
    background-color: rgba(38, 127, 243, 0.518)
}

#navbar{
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right:0;
    z-index: 1000;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 30px;
    border-bottom: 3px solid rgba(219, 219, 219, 0.274);
    background-color: rgb(0, 36, 83);
}

#navbar a{
    color: aliceblue;
}


#menu-btn {
    text-decoration:none;
    font-size: 22px;
}


#logo{
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
}

#logout_btn{
    text-decoration: none;
    letter-spacing: 1px;
}

.main_sidebar{
    padding-top: 60px;
    position: fixed;
    bottom:0;
    width: 250px;
    left: -250px;
    min-height: 100%;
    font-size: 16px;
    border-right: 3px solid rgba(219, 219, 219, 0.274);
    background-color: rgba(0, 36, 83, 0.911);
    transition: left 0.5s ease-in-out;
    z-index: 900;
    overflow: auto;
    max-height: 100vh;
}

.show{
    left: 0px;
}


.sidebar{
    width: 100%;
    position: absolute;
}

.sidebar ul{
    list-style: none;  
    width: 100%;
    display: block;
    align-items: center; 
    line-height:65px;
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    box-sizing: border-box;
    border-bottom: 2px solid;
    border-color: rgba(219, 219, 219, 0.274);
}



.sidebar ul a{
    text-decoration: none; 
    position: relative;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    padding-left: 35px;
}



.main_footer{
    position: fixed;
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    bottom: 0;
    left: 0px;
    transition: left 0.5s ease-in-out;
    width: 100%;
}

.add{
    left: 250px;
}

.content_container{
position: relative;
top: 60px;
}
