.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px; 
}
h1 {
    font-size: 2rem;
    color:#0a62a9;
    letter-spacing: 6px;
    text-align: center;
}
form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, select, button {
    width: 100%;
    height:30px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: rgb(87, 87, 87);
    padding-left: 7px;
    margin-bottom: 16px;
    box-sizing: border-box; /* Added this line */
}
button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
