body {
  font-family: Arial, sans-serif;
  padding: 2vh;
  background-color: #f0f0f0;
  max-height: 100vh;
  overflow-y: auto;
}

h1 {
  color: #333;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.search-form {
  flex-basis: 20%;
  margin-bottom: 2vh;
  padding: 1vh;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stock-table {
  flex-basis: 75%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2vh;
}

th, td {
  border: 1px solid #ddd;
  padding: 1vh;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

input[type="text"], input[type="submit"] {
  width: 100%;
  padding: 1.2vh;
  margin: 0.8vh 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 1.4vh 2vw;
  margin: 0.8vh 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
