body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

form {
  max-width: 400px;  
  margin: 50px auto;
}

label, input[type="submit"] {
  display: block;
  width: 100%;  
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  /* Styles for iPad */
  
  form {
    margin: 100px auto;
    max-width: 500px;
  }
  
}

footer {
  text-align: center;
  padding: 20px; 
  font-size: 0.8em;
}
