<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Marathon POS">

  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>

  {% if error %}
    <p class="error">{{error}}</p>
  {% endif %}

  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label>ID:</label>
    <input type="text" name="id">
    
    <label>Password:</label>
    <input type="password" name="password">
    
    <input type="submit" value="Login"> 
  </form>

  <footer>
    If you can't login, please contact support at <a href="mailto:email@example.com">email@example.com</a> or <a href="tel:+8521235678">+852 1234 5678</a>
  </footer>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('{{ url_for("static", filename="serviceworker.js") }}').then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>

</body>
</html>
