<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  
    <link rel="stylesheet" href="/static/layout.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  
  </head>


<script>
console.log("jQuery is working!");
$(document).ready(function() {
$("#menu-btn").click(function(){
    console.log("Button clicked!");
    $(".main_sidebar").toggleClass("show");
    $(".main_footer").toggleClass("add");
    });
});
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('{{ url_for("static", filename="serviceworker.js") }}').then(function(registration) {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }

</script>

<header>
    <nav id="navbar">
        <a id="menu-btn" class="fa-solid fa-bars"></a>
        <a id="logo">Marathon Sports Pos </a>
        <a id="logout_btn" href="logout">Logout</a>
    </nav>

    <aside class="main_sidebar">
        <section class="sidebar">
            <ul>
                <li><a href="pos">New Sale</a></li>
                <li><a href="member_form">Member Form</a></li>
                <li><a href="members_list">Member's List</a></li>
                <li><a href="stocks">Stocks</a></li>
                <li><a href="order_history">Previous orders</a></li>
            </ul>
        </section>

    </aside>
</header>

<body>
    <div class="content_container">
        {% block content %}{% endblock %}
    </div>
</body>



<footer class="main_footer">
    <strong>Copyright © 2023 <a href="#">Marathon Sports</a>.</strong> All rights reserved.
</footer>
