<!DOCTYPE html>
<html>
  <head>
    <title>POS</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Marathon POS">

    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="static/pos.css">

  </head>
{% extends 'layout.html' %}

{% block content %}

{% if not username %}

<form method="GET">

  <input type="text" name="username"">

  <input type="submit" value="Search"> 

</form>

{% endif %}

<h1>Members List</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Birthday Month</th>
    <th>Points</th>  
  </tr>

  {% for member in members %}
  <tr>
    <td>{{ member[0] }}</td> 
    <td>{{ member[1] }}</td>
    <td>{{ member[2] }}</td>
    <td>{{ member[3] }}</td>
    <td>{{ member[4] }}</td>
    <td>{{ member[5] }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
</html>
