<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/member_form.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
{% extends 'layout.html' %}

{% block content %}
    <div class="form-container">
        <section id="signup">
            <h1>Member form</h1>
        </section>

        <section id="signup_form">
            <form action="{{ url_for('submit_member_form')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="username" placeholder="Username" maxlength="30"/>
                <input type="text" name="name" placeholder="Name " maxlength="20"/>
                <input type="email" name="email" placeholder="Email" maxlength="50"/>
                <input type="tel" id="phone" name="phone" placeholder="Phone" pattern="[0-9]{8}" maxlength="8" title="The phone number should be eight number"/>
                <select name="birthday" required="required" aria-required="true" aria-invalid="false" >
                    <option value="" selected="selected">Please Select Your birthday month</option>
                    <option value=" 01">January</option>
                    <option value=" 02">February</option>
                    <option value=" 03 ">March</option>
                    <option value=" 04">April</option>
                    <option value=" 05">May</option>
                    <option value=" 06">June</option>
                    <option value=" 07">July</option>
                    <option value=" 08">August</option>
                    <option value=" 09">September</option>
                    <option value=" 10">October</option>
                    <option value=" 11">November</option>
                    <option value=" 12">December</option>
                </select>
                <input type="password" name="password" placeholder="Password" maxlength="20"/>
                <input type="password" name="confirm_password" placeholder="Confirm your password" maxlength="20" />
                <button type="submit">Sign up</button>
            </form>
        </section>
    </div>
{% endblock %}
</html>
