<!DOCTYPE html>
<html>
  <head>
    <title>POS</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Marathon POS">

    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="static/pos.css">

  </head>

{% extends 'layout.html' %}

{% block content %}

<h1>Order History</h1>  

<div class="flex-container">

  <form action="/order_history" method="get" class="search-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div>
      <label for="brand">Search by brand:</label><br>
      <input type="text" id="brand" name="brand"><br>
    </div>
    <div>
      <label for="name">Search by name:</label><br>
      <input type="text" id="name" name="name"><br>
    </div>
    <input type="submit" value="Search">
  </form>

  <table class="order-table">
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Price</th> 
      <th>Brand</th>
      <th>Quantity</th>
    </tr>

    {% for order in orders %}
    <tr>
      <td>{{ order[0] }}</td>
      <td>{{ order[1] }}</td>
      <td>{{ order[2] }}</td>
      <td>{{ order[3] }}</td>
      <td>{{ order[4] }}</td>
      <td>{{ order[5] }}</td> 
      <td>{{ order[6] }}</td>
    </tr>
    {% endfor %}

  </table>

</div>

{% endblock %}
</html>
