<!DOCTYPE html>
<html>
  <head>
    <title>POS</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Marathon POS">

    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="static/pos.css">

  </head>
{% extends 'layout.html' %}

{% block content %}

    <h1>POS System</h1>

    {% if error %}
    <div class="alert alert-danger">
        {{ error }} 
    </div>
    {% endif %}

    <div id="addError" style="display:none;" class="alert alert-danger"></div>

    <div class="flex-container">

      <form action="/pos" method="get" class="search-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
          <label for="brand">Search by brand:</label><br>
          <input type="text" id="brand" name="brand"><br>
        </div>
        <div>  
          <label for="name">Search by name:</label><br>
          <input type="text" id="name" name="name"><br>
        </div>
        <input type="submit" value="Search">
      </form>

      <table class="product-table">
        <tr>
          <th>Product ID</th>
          <th>Product Name</th> 
          <th>Brand</th>
          <th>Price</th>
          <th>Add Product</th>
        </tr>

        {% for product in products %}
        <tr>
          <td>{{ product[0] }}</td>
          <td>{{ product[1] }}</td>
          <td>{{ product[3] }}</td>
          <td>{{ product[2] }}</td>
          <td>
            <div>
              <input type="number" id="product-qty-{{ product[0] }}" value="0" min="0" oninput="validateNumber(this)">
              <button onclick="addProduct('{{ product[0] }}', 1)">+</button>
              <button onclick="removeProduct('{{ product[0] }}', 1)">-</button>
              <button onclick="confirmAdd('{{ product[0] }}')">Confirm</button>
            </div>
          </td>
        </tr>
        {% endfor %}

      </table>

      {% if order_items %}
      
      <h2>Current Order</h2>

      <table>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Brand</th> 
          <th>Total Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>

        {% for item in order_items %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[5] }}</td>
          <td>{{ item[4] }}</td>
          <td>{{ item[3] }}</td>
          <td><a href="/remove_from_order/{{ item[0] }}">Remove</a></td>
        </tr>
        {% endfor %}

      </table>

      <form action="/finalize_order" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Finalize Order">
      </form>

      {% endif %}

      {% if order_id %}
      
      <div class="order-details">
        <h2>Order Finalized</h2>

        <p>Order ID: {{ order_id }}</p>
        <p>Total Price: {{ total_price }}</p>
      </div>

      {% endif %}

      {% if error %}
      
      <h2>Error</h2>

      <p>{{ error }}</p>

      {% endif %}

    </div>


  <script>

    function myFunction() {
      var x = document.getElementById("myNavbar");
      if (x.className === "navbar") {
        x.className += " responsive";
      } else {
        x.className = "navbar";
      }
    }

    function addProduct(productId, qty) {
      let elem = document.getElementById('product-qty-' + productId);
      let currQty = parseInt(elem.value);
      elem.value = currQty + qty;
    }

    function removeProduct(productId, qty) {
      let elem = document.getElementById('product-qty-' + productId);
      let currQty = parseInt(elem.value);
      if (currQty > 0) {
        elem.value = currQty - qty; 
      }
    }

    function validateNumber(input) {
      input.value = Math.max(0, parseInt(input.value));
    }

    let orderId = '{{ order_id }}';

    function confirmAdd(productId) {

      let elem = document.getElementById('product-qty-' + productId);
      let qty = parseInt(elem.value);

      let formData = new FormData();
      formData.append('product_id', productId);
      formData.append('quantity', qty);

      // Get the CSRF token
      let csrf_token = document.querySelector('input[name="csrf_token"]').value;
      formData.append('csrf_token', csrf_token);

      fetch('/add_to_order', {
        method: 'POST', 
        body: formData
      })
      .then(response => {
        if(response.status === 400) {
          return response.json();
        } else {
          return "Success"; 
        }
      })
      .then(data => {
        if(data.error) {
          let errorDiv = document.getElementById('addError');
          errorDiv.innerText = data.error; 
          errorDiv.style.display = 'block';
        } else {
          location.reload();
        }
      });

      elem.value = 0; // Reset the quantity input to 0 after confirming the addition
    }

  </script>

{% endblock %}
</html>
